<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Tambah Data Produk</h1>
    <p class="text-sm font-light mb-3">Masukkan data produk dibawah ini</p>
    <form @submit.prevent="createProduct">
      <Input id="name" label="Nama Produk" type="text" v-model="name" />
      <Input id="price" label="Harga" type="number" v-model="price" />
      <Input
        id="expired"
        label="Tanggal Expired"
        type="date"
        v-model="expiredAt"
      />
      <Button color="success" label="Tambah Produk" />
    </form>
  </div>
</template>

<script>
import Input from "../../../components/atoms/Input.vue";
import Button from "../../../components/atoms/Button.vue";
import api from "../../../utils/api";
export default {
  components: {
    Input,
    Button,
  },

  data() {
    return {
      name: "",
      price: "",
      expiredAt: "",
    };
  },

  methods: {
    createProduct() {
      api
        .post("/app/products", {
          product_name: this.name,
          product_price: this.price,
          expired_at: this.expiredAt,
        })
        .then((res) => {
          this.$toast.success(res.data, {
            position: "top-right",
            duration: 2000,
          });
        })
        .catch((err) => {
          this.$toast.error(err.response.data, {
            position: "top-right",
            duration: 2000,
          });
        });
    },
  },
};
</script>

<style></style>
