<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Data Produk</h1>
    <p class="text-sm font-light mb-3">
      Kelola data produk seperti tambah, lihat, sunting, dan hapus data produk
    </p>

    <router-link to="/app/products/create">
      <Button color="primary" label="Tambah Data Produk" />
    </router-link>
    <table class="table-auto bg-white w-full my-3">
      <thead>
        <tr>
          <th class="bg-blue-100 border border-slate-500 p-1">No.</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Nama Produk</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Harga Satuan</th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Expired
          </th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Dibuat
          </th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Disunting
          </th>
          <th class="bg-blue-100 border border-slate-500 p-1">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(product, index) in products" :key="index">
          <td class="text-sm text-slate-500 border">
            {{ ++index }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ product.product_name }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ product.product_price }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ product.expired_at }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ dateFormat(product.created_at) }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ dateFormat(product.updated_at) }}
          </td>
          <td class="text-sm text-slate-500 border">
            <div class="flex items-center gap-1">
              <router-link
                :to="{
                  name: 'product-edit',
                  params: { productId: product.id },
                }"
              >
                <Button color="warning" label="Sunting" />
              </router-link>
              <Button
                color="danger"
                label="Hapus"
                @click="removeProduct(product.id, product.product_name)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import api from "../../../utils/api";
import dayjs from "dayjs";
import Button from "../../../components/atoms/Button.vue";
export default {
  components: {
    Button,
  },
  data() {
    return {
      products: [],
    };
  },

  async mounted() {
    try {
      const products = await api.get("/app/products");

      this.products = products.data;
    } catch (error) {
      console.error(error);
    }
  },

  methods: {
    dateFormat(date) {
      return dayjs(date).format("D-MMM-YYYY");
    },

    removeProduct(id, name) {
      if (confirm(`Anda ingin menghapus product: ${name}?`)) {
        api
          .delete(`/app/products/${id}`)
          .then((res) => {
            this.$toast.success(res.data, {
              position: "top-right",
              duration: 2000,
            });
            this.$router.go();
          })
          .catch((err) => {
            this.$toast.error(err.response.data, {
              position: "top-right",
              duration: 2000,
            });
          });
      }
    },
  },
};
</script>

<style></style>
