<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Tambah Data Transaksi</h1>
    <p class="text-sm font-light mb-3">Tambah data transaksi dibawah ini</p>
    <form @submit.prevent="createTransactions">
      <div class="my-3">
        <label for="customer" class="font-semibold">Pilih Customer</label>
        <select class="w-full p-1 rounded" v-model="customerSelected">
          <option
            :value="customer.id"
            v-for="(customer, index) in customers"
            :key="index"
          >
            {{ customer.customer_name }}
          </option>
        </select>
      </div>
      <div class="my-3">
        <label for="product" class="font-semibold"
          >Pilih Produk (bisa lebih dari satu)</label
        >
        <select
          class="w-full p-1 rounded"
          v-model="productSelected"
          @change="productListed"
        >
          <option value="undefined">Pilih produk</option>
          <option
            :value="product.id"
            v-for="(product, index) in products"
            :key="index"
          >
            {{ product.product_name }}
          </option>
        </select>
      </div>
      <Button color="success" label="Tambah Transaksi" />
    </form>
    <div class="my-3">
      <label for="product-list" class="font-semibold"
        >Produk-produk yang dipilih</label
      >
      <ol
        v-for="(product, index) in productListSelected"
        :key="index"
        class="text-sm"
      >
        <li>
          {{ ++index }}.{{ product.product_name }}
          <button
            class="font-semibold text-red-600"
            @click="undoTransaction(index)"
          >
            X
          </button>
        </li>
      </ol>
    </div>
  </div>
</template>

<script>
import api from "../../../utils/api";
import Button from "../../../components/atoms/Button.vue";
export default {
  components: { Button },

  data() {
    return {
      customers: [],
      customerSelected: "",
      products: [],
      productSelected: [],
      productListSelected: [],
      productCounter: [],
    };
  },

  async mounted() {
    const customers = await api.get("/app/customers");
    const products = await api.get("/app/products");

    this.customers = customers.data;
    this.products = products.data;
  },

  methods: {
    undoTransaction(index) {
      this.productListSelected.splice(
        this.productListSelected.indexOf(index),
        1
      );
    },
    productListed() {
      if (this.productSelected !== undefined) {
        const getProduct = this.products.filter(
          (product) => product.id === this.productSelected
        );

        //yang akan dipush ke backend
        this.productListSelected.push({
          product_id: getProduct[0].id,
          product_name: getProduct[0].product_name,
        });

        this.productSelected = undefined;
      } else {
        this.$toast.error("Anda belum memilih produk", {
          position: "top-right",
          duration: 2000,
        });
      }
    },

    createTransactions() {
      api
        .post("/app/sales-order", {
          customer_id: this.customerSelected,
          product_list: this.productListSelected,
        })
        .then((res) => {
          this.$toast.success(res.data, {
            position: "top-right",
            duration: 2000,
          });
        })
        .catch((err) => {
          this.$toast.error(err.response.data, {
            position: "top-right",
            duration: 2000,
          });
        });
    },
  },
};
</script>

<style></style>
