<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Data Transaksi</h1>
    <p class="text-sm font-light mb-3">Kelola data transaksi dibawah ini</p>

    <router-link to="/app/transactions/create">
      <Button color="primary" label="Tambah Data Transaksi" />
    </router-link>
    <table class="table-auto bg-white w-full my-3">
      <thead>
        <tr>
          <th class="bg-blue-100 border border-slate-500 p-1">No.</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Nama Customer</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Nama Product</th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Transaksi
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(order, index) in salesOrder" :key="index">
          <td class="text-sm text-slate-500 border">
            {{ ++index }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ order.customer_name }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ order.product_name }}
          </td>

          <td class="text-sm text-slate-500 border">
            {{ dateFormat(order.created_at) }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import api from "../../../utils/api";
import dayjs from "dayjs";
import Button from "../../../components/atoms/Button.vue";
export default {
  components: {
    Button,
  },
  data() {
    return {
      salesOrder: [],
    };
  },

  async mounted() {
    try {
      const salesOrder = await api.get("/app/sales-order");
      this.salesOrder = salesOrder.data;
    } catch (error) {
      console.error(error);
    }
  },

  methods: {
    dateFormat(date) {
      return dayjs(date).format("D-MMM-YYYY");
    },

    removeProduct(id, name) {
      if (confirm(`Anda ingin menghapus product: ${name}?`)) {
        api
          .delete(`/app/products/${id}`)
          .then((res) => {
            this.$toast.success(res.data, {
              position: "top-right",
              duration: 2000,
            });
            this.$router.go();
          })
          .catch((err) => {
            this.$toast.error(err.response.data, {
              position: "top-right",
              duration: 2000,
            });
          });
      }
    },
  },
};
</script>

<style></style>
