<template>
  <div class="w-96 bg-white rounded-sm p-5">
    <h1 class="font-semibold text-red-400 text-2xl">Purchasing App</h1>

    <h2 class="text-lg text-slate-800 font-semibold">Login</h2>
    <p class="text-sm text-slate-500">
      Masukkan email dan password dibawah ini
    </p>
    <form @submit.prevent="login">
      <Input id="email" label="Email" v-model="email" type="email" />
      <Input
        id="password"
        label="Password"
        v-model="password"
        type="password"
      />
      <input
        type="submit"
        value="Login"
        class="bg-green-500 text-white p-1 rounded w-full"
      />
    </form>
    <div class="text-slate-500 text-base mt-1">
      Belum memiliki akun?
      <router-link to="/register">
        <a class="hover:text-blue-400 underline">Daftar disini</a>
      </router-link>
    </div>
  </div>
</template>

<script>
import api from "../utils/api";
import Input from "../components/atoms/Input.vue";

export default {
  components: {
    Input,
  },

  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login() {
      api
        .post("/login", {
          email: this.email,
          password: this.password,
        })
        .then((res) => {
          localStorage.setItem("account-name", res.data.name);
          localStorage.setItem("token", res.data.token);
          this.$toast.success(`Selamat datang ${res.data.name}`, {
            position: "top-right",
            duration: 2000,
          });
          this.$router.push("/app/dashboard");
        })
        .catch((err) => {
          this.$toast.error(err.response.data, {
            position: "top-right",
            duration: 2000,
          });
        });
    },
  },
};
</script>

<style></style>
