<template>
  <div class="w-96 bg-white rounded-sm p-5">
    <h1 class="font-semibold text-red-400 text-2xl">Purchasing App</h1>

    <h2 class="text-lg text-slate-800 font-semibold">Daftar</h2>
    <p class="text-sm text-slate-500">Masukkan data anda dibawah ini</p>
    <form @submit.prevent="register">
      <Input id="name" label="Nama" v-model="name" type="text" />
      <Input id="email" label="Email" v-model="email" type="email" />
      <Input
        id="password"
        label="Password"
        v-model="password"
        type="password"
      />
      <Input
        id="password_confirmation"
        label="Konfirmasi Password"
        v-model="confirmPassword"
        type="password"
      />
      <input
        type="submit"
        value="Daftar"
        class="bg-green-500 text-white p-1 rounded w-full"
      />
    </form>
    <div class="text-slate-500 text-base mt-1">
      Sudah memiliki akun?
      <router-link to="/login">
        <a class="hover:text-blue-400 underline">Masuk disini</a>
      </router-link>
    </div>
  </div>
</template>

<script>
import api from "../utils/api";
import Input from "../components/atoms/Input.vue";

export default {
  components: {
    Input,
  },

  data() {
    return {
      name: "",
      email: "",
      password: "",
      confirmPassword: "",
    };
  },
  methods: {
    register() {
      api
        .post("/register", {
          name: this.name,
          email: this.email,
          password: this.password,
          password_confirmation: this.confirmPassword,
        })
        .then((res) => {
          localStorage.setItem("account-name", this.name);
          localStorage.setItem("token", res.data.token);
          this.$toast.success(`Selamat datang ${this.name}`, {
            position: "top-right",
            duration: 2000,
          });

          this.$router.push("/app/dashboard");
        })
        .catch((err) => {
          this.$toast.error(err.response.data, {
            position: "top-right",
            duration: 2000,
          });
        });
    },
  },
};
</script>

<style></style>
