<template>
  <button :class="['rounded p-1', getColor()]" :color="color">
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "Button",

  props: {
    label: {
      type: String,
      required: true,
    },
    color: {
      validator(value) {
        return ["success", "primary", "warning", "danger"].includes(value);
      },
      required: true,
    },
  },

  methods: {
    getColor() {
      switch (this.color) {
        case "success":
          return "bg-green-500 text-white ";
          break;
        case "primary":
          return "bg-blue-500 text-white ";
          break;
        case "warning":
          return "bg-yellow-500 text-black ";
          break;
        case "danger":
          return "bg-red-500 text-white ";
          break;
      }
    },
  },
};
</script>

<style></style>
