<template>
  <div class="flex flex-col gap-1 my-3">
    <label v-if="label" :for="id" class="font-semibold">
      {{ label }}
    </label>
    <textarea
      :id="id"
      :value="modelValue"
      @input="updateInput"
      class="w-full p-2 ring-1 ring-slate-500"
      rows="6"
    ></textarea>
  </div>
</template>

<script>
export default {
  name: "Textarea",
  props: {
    id: {
      type: String,
      default: "",
    },
    label: {
      type: String,
      default: "",
    },
    modelValue: {
      type: [String, Number],
      default: "",
      required: true,
    },
  },
  methods: {
    updateInput(e) {
      this.$emit("update:modelValue", e.target.value);
    },
  },
};
</script>

<style></style>
