<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Tambah Data Customer</h1>
    <p class="text-sm font-light mb-3">Masukkan data customer dibawah ini</p>
    <form @submit.prevent="createCustomer">
      <Input id="name" label="Nama Customer" type="text" v-model="name" />
      <Textarea id="address" label="Alamat" v-model="address" />
      <Input id="phone" label="Nomor Telepon" type="text" v-model="phone" />
      <Button color="success" label="Tambah Customer" />
    </form>
  </div>
</template>

<script>
import Input from "../../../components/atoms/Input.vue";
import Textarea from "../../../components/atoms/Textarea.vue";
import Button from "../../../components/atoms/Button.vue";
import api from "../../../utils/api";
export default {
  components: {
    Input,
    Textarea,
    Button,
  },

  data() {
    return {
      name: "",
      address: "",
      phone: "",
    };
  },

  methods: {
    createCustomer() {
      api
        .post("/app/customers", {
          customer_name: this.name,
          customer_address: this.address,
          customer_phone_number: this.phone,
        })
        .then((res) => {
          this.$toast.success(res.data, {
            position: "top-right",
            duration: 2000,
          });
        })
        .catch((err) => {
          this.$toast.error(err.response.data, {
            position: "top-right",
            duration: 2000,
          });
        });
    },
  },
};
</script>

<style></style>
