<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Data Customer</h1>
    <p class="text-sm font-light mb-3">
      Kelola data customer seperti tambah, lihat, sunting, dan hapus data
      customer
    </p>

    <router-link to="/app/customers/create">
      <Button color="primary" label="Tambah Data Customer" />
    </router-link>
    <table class="table-auto bg-white w-full my-3">
      <thead>
        <tr>
          <th class="bg-blue-100 border border-slate-500 p-1">No.</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Nama Customer</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Alamat</th>
          <th class="bg-blue-100 border border-slate-500 p-1">Telepon</th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Dibuat
          </th>
          <th class="bg-blue-100 border border-slate-500 p-1">
            Tanggal Disunting
          </th>
          <th class="bg-blue-100 border border-slate-500 p-1">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(customer, index) in customers" :key="index">
          <td class="text-sm text-slate-500 border">
            {{ ++index }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ customer.customer_name }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ customer.customer_address }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ customer.customer_phone_number }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ dateFormat(customer.created_at) }}
          </td>
          <td class="text-sm text-slate-500 border">
            {{ dateFormat(customer.updated_at) }}
          </td>
          <td class="text-sm text-slate-500 border">
            <div class="flex items-center gap-1">
              <router-link
                :to="{
                  name: 'customer-edit',
                  params: { customerId: customer.id },
                }"
              >
                <Button color="warning" label="Sunting" />
              </router-link>
              <Button
                color="danger"
                label="Hapus"
                @click="removeCustomer(customer.id, customer.customer_name)"
              />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import api from "../../../utils/api";
import dayjs from "dayjs";
import Button from "../../../components/atoms/Button.vue";
export default {
  components: {
    Button,
  },
  data() {
    return {
      customers: [],
    };
  },

  async mounted() {
    try {
      const customers = await api.get("/app/customers");

      this.customers = customers.data;

      console.log(customers.data);
    } catch (error) {
      console.error(error);
    }
  },

  methods: {
    dateFormat(date) {
      return dayjs(date).format("D-MMM-YYYY");
    },

    removeCustomer(id, name) {
      if (confirm(`Anda ingin menghapus customer: ${name}?`)) {
        api
          .delete(`/app/customers/${id}`)
          .then((res) => {
            // console.log(res);
            this.$toast.success(res.data, {
              position: "top-right",
              duration: 2000,
            });
            this.$router.go();
          })
          .catch((err) => {
            this.$toast.error(err.response.data, {
              position: "top-right",
              duration: 2000,
            });
          });
      }
    },
  },
};
</script>

<style></style>
