<template>
  <div class="mx-10 my-5">
    <h1 class="font-semibold text-2xl text-slate-800">Dashboard</h1>
    <p class="text-sm font-light mb-3">Selamat datang di aplikasi penjualan</p>
  </div>
</template>
