<template>
  <div>
    <h1>Ini Detail</h1>
  </div>
</template>

<script>
import api from "./utils/api";
export default {
  data() {
    return {
      detail: [],
    };
  },
  mounted() {
    api.get(`/movie/${this.$route.params.movieId}`);
  },
};
</script>

<style></style>
