<template>
  <div class="bg-slate-200 min-h-screen max-w-screen">
    <nav class="bg-red-400 text-slate-100 w-full p-3 flex justify-between">
      <ul class="flex gap-3 items-center">
        <li class="font-semibold text-lg">
          <router-link to="/app/dashboard"> Purchasing App</router-link>
        </li>
        <li><router-link to="/app/customers">Data Customer</router-link></li>
        <li><router-link to="/app/products">Data Produk</router-link></li>
        <li><router-link to="/app/transactions">Transaksi</router-link></li>
      </ul>

      <ul class="flex items-center gap-3">
        <li>{{ setNameProfile }}</li>
        <li><button @click="logout">Logout</button></li>
      </ul>
    </nav>
    <router-view />
  </div>
</template>

<script>
export default {
  computed: {
    setNameProfile() {
      return localStorage.getItem("account-name");
    },
  },

  methods: {
    logout() {
      if (confirm("Anda yakin ingin keluar dari aplikasi ini?")) {
        localStorage.removeItem("account-name");
        localStorage.removeItem("token");
        this.$router.push("/login");
      }
    },
  },
};
</script>

<style></style>
