<template>
  <div
    class="flex flex-col items-center justify-center bg-slate-500 min-h-screen max-w-screen"
  >
    <router-view />
  </div>
</template>

<script>
export default {};
</script>

<style></style>
